/*
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
原則として、許可なしの再配布は禁止させていただきます。
また、無料でお使いの方は、フッター部分にある【ＰＲ枠】のリンクは全て削除禁止です。
加工後の削除も禁止させていただきます。
ご不明な点は、http://www.s-hoshino.com/info.html、または、
http://www.megapx.com/info.htmlのフォームよりお問い合わせください。
よろしくお願いします！(・∀・)/
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/

* {
	color:#333333;
	padding:0;
	font-size: 12px;
	line-height: 140%;
	margin: 0;
	font-family: Verdana, Arial, sans-serif;
	background-image: none;
}

body {
	background-color: #3C4236;
	background-image: url(img/bg2.jpg);
	background-repeat: repeat-x;
	background-attachment: fixed;
}

a {
	color:#4E6A44;
}

a:hover {
	text-decoration: none;
}

a img {
	border:none;
}

hr {
	clear: both;
	height: 1px;
}

strong {
	color: #546A51;
}


.chui {
	font-size: 10px;
	color: #FF0000;
}


/*
ベース
-------------------------------------------------------------------*/
#base {
	width:800px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(img/base_bg.jpg);
	background-color: #FFFFFF;
	margin-top: 0px;
	border: 1px solid #000000;
}

#wrap {
	float: left;
	padding: 5px;
	margin-top: 5px;
}


/*
ヘッダー
-------------------------------------------------------------------*/

#header {
	width:800px;
	height:110px;
	background-image: url(img/header3.gif);
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #222222;
}


h1 a {
	display: block;
	text-decoration: none;
	width: 390px;
	margin-left: 35px;
	padding-top: 15px;
	font-size: 26px;
	line-height: 33px;
	color: #FFFFFF;
}

#header #sub {
	font-size: 12px;
	font-style:oblique;
	color: #86A886;
	margin-left: 35px;
}


/*ナビゲーション
----------------------------------------------- */
#nav {
	padding: 5px;
	background-color: #333333;
	border-top-width: 2px;
	border-bottom-width: 2px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #000000;
	border-bottom-color: #000000;
}

#nav ul {
	list-style-type:none;
	display: block;
	margin-left: 10px;
  }
  

#nav li {
	display: inline;
	padding-left: 22px;
	padding-right: 20px;
	background-image: url(img/c_li.gif);
	background-repeat: no-repeat;
	background-position: 10px center;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFFFFF;
  }
  
#nav a {
	color: #FFFFFF;
	font-size: 10px;
	line-height: 20px;
	letter-spacing: 0.1em;
	text-decoration: none;
}

#nav a:hover {
	color: #B0E28B;
	text-decoration: underline;
}


/*
コンテンツ
-------------------------------------------------------------------*/

#contents {
	width:610px;
	float: right;
}

#contents p{
	padding-top: 5px;
	padding-bottom: 5px;
	background-image: url(img/note_line.gif);
	margin-right: 30px;
	margin-left: 30px;
	line-height: 20px;
	padding-right: 10px;
	padding-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#contents h2 {
	font-size: 14px;
	padding-left: 10px;
	color: #5C6659;
	margin-top: 10px;
	margin-bottom: 5px;
	margin-right: 10px;
	margin-left: 5px;
	font-weight: bold;
	border-left-width: 7px;
	border-left-style: solid;
	border-left-color: #758271;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #EAEAEA;
	padding-top: 2px;
	padding-bottom: 2px;
}


#contents h3 {
	font-size: 14px;
	border-left-width: 5px;
	border-left-style: solid;
	border-left-color: #7C6577;
	padding-left: 7px;
	color: #695665;
	line-height: 16px;
	margin-top: 15px;
	margin-bottom: 10px;
	margin-left: 13px;
}

#contents h3 a {
	font-size: 14px;
}

#contents h4 {
	font-size: 12px;
	color: #687663;
	line-height: 16px;
	margin-top: 15px;
	margin-bottom: 10px;
	margin-left: 25px;
}

#contents ul {
	margin-left: 30px;
	list-style-type: none;
}
#contents li a {
	font-size: 12px;
}


#contents #c_pad {
	padding: 10px;
}

#contents #c_pad p a {
	line-height: 20px;
}

#contents #c_pad p strong {
	line-height: 20px;
}

#contents #top_img {
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #ACBEA9;
	background-image: url(img/top_img2.gif);
	background-repeat: no-repeat;
	background-position: center center;
	height: 200px;
}

#contents #c_pad #top_img p {
	font-size: 10px;
	color: #86A886;
	background-image: none;
	margin-top: 120px;
	margin-left: 20px;
	margin-right: 300px;
}


#contents #c_pad .top_left {
	float: left;
	padding: 20px;
}

#contents #c_pad .p_img {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

#contents #c_img{
}

/*
テーブル
-------------------------------------------------------------------*/

#contents #c_pad table {
	width: 555px;
	margin-top: 5px;
	margin-right: auto;
	margin-bottom: 5px;
	margin-left: auto;
}
#contents #c_pad table td {
	padding: 5px;
	border: 1px solid #EAE8DF;
}
#contents #c_pad table th {
	background-color: #EFEDE7;
	padding: 7px;
}
#contents #c_pad form table th {
	width: 127px;
}

/*
パンくずリスト
-------------------------------------------------------------------*/
#contents #pan {
	padding: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #EAEAEA;
}
#contents #pan a {
	margin-right: 7px;
	margin-left: 7px;
}
#contents #pan strong {
	margin-left: 7px;
}

/*
サイド・メニュー
-------------------------------------------------------------------*/
#side {
	float: left;
	width: 170px;
}

#side li {
	list-style-type: none;
}

#side_d {
	padding-top: 2px;
	margin-bottom: 5px;
	width: 160px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 5px;
	border: 1px solid #F8F8F5;
	background-color: #B1B7AA;
}

#side_d h3 {
	display: block;
	width: 150px;
	line-height: 20px;
	color: #FFFFFF;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0px;
	margin-top: 3px;
	font-size: 12px;
	padding-top: 4px;
	text-align: center;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	background-color: #339900;
}

#side_d ul {
	margin-bottom: 5px;
}

#side_d li a {
	display: block;
	width:120px;
	font-size: 12px;
	text-decoration:underline;
	color:#FFFFFF;
	line-height: 17px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 5px;
	background-image:url(img/li.gif);
	background-repeat: no-repeat;
	background-color: #33CC00;
	padding-top: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #445542;
	background-position: 7px center;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #759270;
}


#side_d li a:hover {
	background-color: #FCF9E4;
	color: #000000;
	text-decoration: none;
	background-position: 8px;
}


#side img {
	border:none;
}

#side p {
	padding: 10px;
}

#side p a {
	font-size:10px;
	background-color: #E2DECF;
	display: block;
	padding: 10px;
	line-height: 15px;
	border: 2px solid #C6BCB0;
}


/*
フッタメニュー
-------------------------------------------------------------------*/

#f_menu {
	clear: both;
	text-align: center;
	background-image: url(img/foot.jpg);
	height: 50px;
	background-repeat: repeat-x;
	border: 1px solid #E2E2DE;
	padding: 20px;
	background-color: #FAFAF8;
}
#f_menu li {
	list-style-type: none;
	display: inline;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #333333;
	padding-right: 5px;
	padding-left: 5px;
	font-size: 10px;
}
#f_menu ul {
	margin-top: 5px;
	margin-bottom: 5px;
}
#f_menu li a {
	font-size: 12px;
}

#f_menu p {
	font-size: 10px;
	color: #333333;
}

#f_menu #design {
	font-size: 10px;
	color: #99AE95;
}
#f_menu #design a {
	font-size: 10px;
	color: #99AE95;
}
/*
コピーライト
-------------------------------------------------------------------*/

address {
	font-style: normal;
	color: #FFFFFF;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	display: block;
	background-color: #222222;
	font-size: 10px;
}
